.header {
    display: flex;
    justify-content: space-around;
    background-color: black;
    top:0px;
    position: fixed;
    width: 100%;
    left:0px;
    padding: 0 1.5rem;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color .5s ease;
    z-index: 1000;
}

.name{
    color:#fff;
    text-align: center;
    padding: 20px;
    margin-bottom: auto;
}

.options {
    max-height: 30px;
    color: white;
    max-width: 60px;
    text-align: center;
    margin: 20px;
    padding: 5px;
    background-color: transparent;
    border-style: outset;
    cursor: pointer;
    position: relative;
    width: auto;
}

.options::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease;
}

.options:hover::after{
    transform: scaleX(1);
}

/*Apply styles after scroll*/
.scrolling-active{
    background-color: #fff;
    box-shadow: 0 3px 1rem rgba(0,0,0,.1);
}

.scrolling-active .options {
    color: #E98300;
}

.scrolling-active #active{
    background-color: whitesmoke;
    color: black;
}

.scrolling-active .header{
    background-color: transparent;
        background: rgba(0, 0, 0, 0.7);
}

.scrolling-active .options::after{
    background-color: #E98300;
}

.scrolling-active .sections{
    background-color: white;
}

 body{
    background-color: black;
}

.scrolling-active .time{
    border:2px #E98300 outset;
    color: #E98300;
}

.change{
    background-color: transparent;
    border-style: outset;
    cursor: pointer;
    color: white;
    text-align: center;
    margin-left: 95px;
    height:30px;
    margin-top: auto;
    margin-bottom: auto;
}
.logo {
    width: 70px;
    height: 50px;
    background: whitesmoke;
    position: relative;
    animation: mymove 2s infinite;
    margin: 10px;
    border-radius: 70px;
}

@keyframes mymove {
    from {
        left: 0%;
    }

    to {
        left: 10%;
    }
}
.middle{
    background: url("background.jpg") center no-repeat;
    background-size: cover;

 
}
.innersection{
    display: flex;
    justify-content: space-around;
    padding: 50px;
    height: 600px;
    min-height: 100%
}
.section {
    background-color: #E98300;
    padding:15px;
    width:auto;
    margin-top: 70px;
    margin-right: none;
    margin-left: none;
}

.about {
    background: rgba(0, 0, 0, 0.7);
    max-width:50%;
    padding:20px;
    box-shadow: grey;
}
.about:hover{
    margin-top: 5px;
    transition: ease-in-out .5s;
}
.aboutme {
    color: white;
    text-align: center;   
}

.aboutext {
    color: white;
    font-size: 18px;
}
.aboutext:hover {
    color: #e98300;
    transition: ease-in-out .4s;
    margin-left: 5px;
}
.options:hover, .change:hover, .submitbtn:hover {
    color: black;
    background: white;
    box-shadow: 0 0 5px white;
    transition: ease-in-out .5s;
}
#active{
    color:black;
    background: white;
}
.slide {
    max-width: 70%;
    padding: 20px;
    margin: 2px;
    height: auto;
    border-radius: 20%;
}

.photoFrame{
    background: #E98300;
    border-radius: 2px;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 300px;
    text-align: center;
    display: inline-block;
    max-height: 300px;
    padding: 7px;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border:2px outset black;
    border-radius: 15px;
}
.photoDescription{
    font-size: 30px;
    text-align: center;
    color: whitesmoke;
    margin-top: 2px;
}
.photoFrame:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.75), 0 10px 10px rgba(0,0,0,0.75);
    transition: ease-in-out .5s;
    margin-top: 5px;
}
.time {
    color: white;
    margin: 20px;
    padding: 5px;
    border:2px white outset;
}
.footer{
    background:black;
    color:white;
    height:100px;
    position:relative;
    padding:35px;
    width: auto;
}
.footer .footer-bottom{
    background:black;
    color:#E98300;
    height:20px;
    width:100%;
    text-align:center;
    position:absolute;
    bottom:0px;
    left:0px;
    padding-top:15px;
}
html {
    min-height: 100%;

  }

  .footer-content{
      margin:5px;
      padding:5px;
      display: flex;
      justify-content: center;
      margin-top: -15px;
      margin-bottom: auto;
  }
.footer-social{
    margin: auto;
    font-size: 34px;
    text-align: center;
}

.fa{
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    width: 50px;
    height: 30px;
    padding: 10px;
    border-radius: 15px;
}
.edit{
    display: block;
    border:outset;
    border-radius: 10%;
    margin: 35px;
    padding: 10px;
    margin-top: 10px;
}
 #facebook:hover{
    background: #3b5998;
    margin-top: 5px;
    transition:  ease-out .5s;
}
 #instagram:hover{
    background:linear-gradient(to top right, orange, red, purple);
    margin-top: 5px;
    transition: ease-in-out .5s;
}
 #twitter:hover{
    background: #4c82f5;
    margin-top: 5px;
    transition: ease-in-out .5s;
}
 #whatsapp:hover{
    background: #1ce45f;
    margin-top: 5px;
    transition: ease-in-out .5s;
}   
.animate {
    animation: fade-in 1s ease-in-out both;
  }
  @keyframes animate {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
fieldset{
    width: 60%;
    height: auto;
    padding:30px;
    border: 4px solid #E98300;
    background: rgba(0, 0, 0, 0.521);
    color: #fff;
    border-radius: 5%;
    font-size: large;
}
fieldset:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.75), 0 10px 10px rgba(0,0,0,0.75);
    transition: ease-in-out .5s;
    margin-top: 5px;
}
.submitbtn{
    background-color: transparent;
    color: #fff;
    margin: 10px;
    padding: 5px;
    border-style: outset;
    cursor: pointer;
    position: relative;
}
.names{
    height: 30px;
    margin: 10px;
    width: auto;
}
.message{
    padding: 15px 5px;
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    transition: all 0.2s ease;
    height: 100px;
    box-sizing: content-box;
    margin-top: 10px;
    margin-bottom: 10px;
    resize: vertical;
    max-height: 250px;
}
.rate{
    width:22%;
    margin: 5px;
    border-radius: 5%;
}
.gender {
    margin-top: 20px;

}
::placeholder{
    color:grey;
    font-weight: bolder;
}
/*code from w3schools*/
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 55px;
    right: 45px;
    font-size: 50px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  /* End of copied and edited code from w3schools*/
  .openMenu{
      margin-left: -30px;
  }

ul{
    list-style-type: none;
}
#option1{
    margin-top: 100px;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 200px) and (max-width: 1000px) {
    .about{
        min-width:80%;
        margin: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
        height: auto;
        margin-bottom: 15px;
    }
    .photoFrame{
        min-width:80%;
        margin: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
        height: 35%;
    }
    .photoDescription{
        font-size: medium;
    }
    .aboutme{
        font-size: large;
    }
    .aboutext{
        font-size: medium;
    }
    .name{
        font-size: medium;
    }
    .slide{
        min-width: auto;
        margin: auto;
    }
    .innersection{
        display: block;
    }
    .menuoptions{
        display: none;
    }
    .openMenu{
        display: none;
    }
    .middle {
            background-image: url("mobileBackground.jpg");
            background-size: cover;     
    }
        .options{
            
            display: none;
        }
        
        
    }